<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reginald.briefcaseglobal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Briefcaseglobal"
        android:usesCleartextTraffic="true">
<!--        <activity-->
<!--            android:name=".Aariyan.DealsButtonActivity"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->

        <!--For Testing-->
        <activity
            android:name=".LandingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".Service.MainService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".VisitQueue"
            android:exported="true" />
        <activity
            android:name=".OutStandingActivity"
            android:exported="true" />
        <activity
            android:name=".CheckingActivity"
            android:exported="true" />
        <activity
            android:name=".OrderPatternItemsActivity"
            android:exported="true" />
        <activity
            android:name=".DailySchedule"
            android:exported="false" />
        <activity
            android:name=".AddItemToSpecialActivity"
            android:exported="true" />
        <activity
            android:name=".OrderActivity"
            android:exported="true" />
        <activity
            android:name=".ProblematicItemsActivity"
            android:exported="true" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".SalesActivity"
            android:exported="true" />
        <activity
            android:name=".ViewMemoVisit"
            android:exported="false" />
        <activity
            android:name=".ProblematicItemActivity"
            android:exported="false" />
        <activity
            android:name=".CreateMemo"
            android:exported="false" />
        <activity
            android:name=".LogVisit"
            android:exported="false" />
        <activity
            android:name=".MemoHome"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".CollaborationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockSheetActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ControlPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerCentalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PriceList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderHeader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AfterCustomerSelect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Sales"
            android:screenOrientation="portrait" />

        <!--This is the main launcher activity-->
<!--        <activity-->
<!--            android:name=".LandingActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--Test Launcher Activity-->
                <activity
                    android:name=".Aariyan.Activity.DealsButtonActivity"
                    android:exported="true"
                    android:theme="@style/myTheme"
                    android:screenOrientation="portrait">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>

        <service
            android:name=".DriverService"
            android:enabled="true"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".Broadcastservice"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>